<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/meallog.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Log</title>
</head>
<body>
    <nav class="topbar">
        <a href="forum">Forum</a>
        <a href="#trainer">My Trainer</a>
        <a href="index.html">Calorie Counter</a>
        <a href= "meallog" class="active">Meal Log</a>
        <a href= "tdee">Calculator</a>
        <a href="login.html">Log In</a>
    </nav>
    <table >
        <% let total_cal = 0.0 %>
        <tr id="rows">
            <th>Meal Name</th>
            <th>Meal Calories</th>
            <th>Fats</th>
            <th>Proteins</th>
            <th>Carbs</th>
        </tr>
        <tbody>
            <% if (meal2.length) { %>
                <% for (const meal of meal2){ %>   
                    <tr>
                        <td><%= meal.mealname %></td>
                        <td><%= meal.maincalorie %></td>
                        <td><%= meal.fats %></td>
                        <td><%= meal.proteins %></td>
                        <td><%= meal.carbs %></td>
                        <br>
                        <% total_cal += meal.maincalorie %>
                    <% } %>
            <% } %>
            <% if (!meal2.length) { %>
                <br>
                <center>
                    <% if (loggedIn !== 1) { %>
                        <p>Login <a href="login.html" id="nologin">here</a></p>
                    <% } %>
                    <% if (loggedIn === 1 ) { %>
                        <p>Start adding to your meal log <a href="index.html" id="nologin">here</a></p>
                    <% } %>
                </center>
            <% } %>    
                </tr>
            </tbody>
        </table>
    <br>
    <% if (loggedIn === 1 && typeof tdeeW !== 'undefined'){ %>
        <p id = "total-cal">Total Calories: <%= total_cal %> </p> 
        <p id= "cal-left">Calories left: <%= tdeeW.tdee - total_cal%></p>
    <% } %>
</body>
</html>