<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/showpost.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/CalCountJS/showpost.js" defer></script>
    <title>Show Post</title>
</head>
<body>
    <nav class="topbar">
       <%- include ('navbar.ejs')%>
    </nav>
        <div class="postdata">
            <div class="heading">
                <h4> Title: <%= getPost.title %>  
                <div id="username"> 
                    <%= username.username%> <%=getPost.createdOn%>
                </div>
                </h4>
            </div>
            <% let deleteurl = "/posts/" + getPost.postid + "/delete"; %>
            <div>
            <p id="postText"><%= getPost.postText %></p>
            <% let url = "/posts/" + getPost.postid + "/comments"; %>
            <% if (loggedIn === 1){ %>
                <form id="commentForm" action = <%= url %> method="POST">
                    <input type="text" name="commentText" id="commentinput" placeholder="Comment Here" >  
                    <button id="commentbutton" type="submit">Add Comment</button>
                    <div id="errorContainer" class="hidden">
                        <p id="errorMessage">Error</p>
                        <br>
                    </div>
                </form>
            <% } %>
            </div>
            <span>
                <% if (typeof username !== 'undefined') { %>
                    <% if (currUsername === username.username){ %>
                        <form action = <%= deleteurl %> method="POST" id="deleteForm">
                            <span class="trash">
                                <input type="image" src="/images/trash.png" id="trashcan">
                            </span>
                        </form>
                    <% } %>
                <% } %>
            </span>
        <hr>
        <div class="allComments">
            <% for (const comment of getComments) { %>
                <div class="oneComment">
                    <p>
                        <div id="line1"><%= comment.username %> <span id="date"><%= comment.createdOn %></span></div>
                        <div class="content"><%= comment.commentText %></div>
                        <% if (comment.username === currUsername){ %>
                            <% let commentUrl = "/posts/" + comment.commentID + "/deletecomment" %>
                            <form id="deleteComment" action= <%=commentUrl%> method="POST">
                                <button id="delComment" onclick="submitDelete();">DELETE</button>
                            </form>
                        <% } %>
                    </p>
                </div>
            <% } %>
        </div>
</body>
</html>